.App {
  text-align: center;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}